<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagram.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @diagram.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagram.description %>
</p>

<p>
  <strong>Source code:</strong>
  <%= @diagram.source_code %>
</p>

<%= link_to 'Edit', edit_diagram_path(@diagram) %> |
<%= link_to 'Back', diagrams_path %>
