<!DOCTYPE html>
<html>
  <head>
    <title>DiagramHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('apple-icon-57x57.png') %>
    <!-- Google tag (gtag.js) -->
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B6DYKG3NLV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-B6DYKG3NLV');
    </script>
  </head>

  <body>
  
  <!--Main layout-->
  <div class="container">
  <%= render 'layouts/navbar' %>
  </div>

    <%= yield %>
 

    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>
